* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* Color Theme Swatches in Hex */
.Bandeira-Brasil-1-hex { color: #16B83E; }
.Bandeira-Brasil-2-hex { color: #FFE11F; }
.Bandeira-Brasil-3-hex { color: #1651B8; }
.Bandeira-Brasil-4-hex { color: #FFFFFF; }


header {
    background-color: #FFE11F;
    color: #16B83E;
}

nav {
    background-color: #16B83E;

}

nav > a {
    color: #1651B8;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: #FFE11F;
}

article {
    border: 2px solid #1651B8;
    background-color: #16B83E;
    color: #FFFFFF;
}
