* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&family=Poppins:wght@400;500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 

/* Color Theme Swatches in Hex */
.Bandeira-Brasil-1-hex { color: #16B83E; }
.Bandeira-Brasil-2-hex { color: #FFE11F; }
.Bandeira-Brasil-3-hex { color: #1651B8; }
.Bandeira-Brasil-4-hex { color: #FFFFFF; }


header {
    background-color: #FFE11F;
    color: #FFFFFF;
    display: flex;
    width: auto;
    justify-content: space-between;
    padding-inline: 20px;
    height: 10vh;
    align-items: center ;
    background-image: url("/imagens/brasilbandeira.jpg");
    background-position: 10% 40%;
    
}

.logo {
    font-size: 40px;
}

nav {   
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    

}

nav > a {
    color: #FFFFFF;
    text-decoration: none;
    border: 4px solid #FFFFFF;
    
    font-size: 1.3rem; 
    padding: 0.7rem;
    font-weight: bold; 
    border-radius: 10px;
    
       
}

nav > a:hover {
    background-color:#FFE11F;
    color: #1651B8;
    border-color: #1651B8;
}

main {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem 2rem;
    justify-content: center;
    align-items: center;
    background: rgb(255,225,31);
background: linear-gradient(90deg, rgba(255,225,31,1) 23%, rgba(22,81,184,1) 49%, rgba(22,184,62,1) 71%);
    padding: 10px;
    height: 120vh;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;         
}

main > p { 
    color: black;
    font-weight: 900;
    text-align: center;
    width: 50vw;
}

strong, a {
    color: #16B83E;
    /* text-decoration: none; */
}

.logo {
    display: flex;
    align-items: center;
}

 img {
    width: 45vw;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
       
}

img:hover {
    transform: scaleX(-1);
}

footer {
    background-color: #FFE11F;
    height: 4vh;
    color: #1651B8;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}


  